
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      width: 100%;
      font-family: Arial, sans-serif;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    header {
      background: linear-gradient(to right, #dc0303, #a46e4a);
      color: white;
      padding: 20px 0;
      text-align: center;
      font-size: 2.5em;
      font-weight: bold;
      text-shadow: 1px 1px 2px #000;
      position: relative;
    }

    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 50px;
      border-radius: 100%;
    }

    main {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 40px 20px;
    }

    .container {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      border-radius: 20px;
      box-shadow: 5px 5px 10px #0003;
      overflow: hidden;
      border: 3px solid #0014cc;
      width: 300px;
      background: white;
      background-size: 100%;
      transition: transform 0.3s;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card img {
      width: 100%;
      height: 100%;
      display: block;
    }

    footer {
      background: linear-gradient(to right, #6c2400, #a33e3e);
      color: white;
      text-align: center;
      padding: 15px 0;
      font-size: 1em;
    }
    @media screen and (max-width: 1128px) {
      header {
        font-size: 4em; 

      }
      .container {
        flex-direction: column;
        align-items: center;
      }
      .card {
        width: 90%;
      }
      h1{
        font-size: 2.5rem;
      }
      .logo {
        width: 90px; /* Aumenta o tamanho da logo */
      }
      footer{
        font-size: 4em; 
      }
      
    }
    
 

